<div class="container-fluid vh-100 p-0">
  <div class="row h-100">
    <div class="col-2">
      <!-- Sidebar -->
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100"
        style="width: 280px"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Rental  Management System</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="register" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home" />
              </svg>
            Customer Registration
            </a>
          </li>
          <li>
            <a href="view-all" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2" />
              </svg>
              View All Customers
            </a>
          </li>
          <li>
            <a href="profile" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table" />
              </svg>
             Edit Customer
            </a>
          </li>
        
          
          
        </ul>
        <hr />
        
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
